@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mt-4 px-4">

        <div class="col-12 col-md-3">
            <partial name="_ManageNav" />
        </div>

        <div class="col-12 col-md-9 ft-manage-content">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
