@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Gerar códigos de recuperação (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="manage-card mb-4">

    <h3 class="mb-3">@ViewData["Title"]</h3>

    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="alert alert-warning" role="alert">
        <p><strong>Guarde esses códigos em um local seguro.</strong></p>
        <p>
            Se você perder seu dispositivo e não tiver esses códigos,
            perderá o acesso à sua conta.
        </p>
        <p>
            Gerar novos códigos de recuperação <strong>não altera a chave</strong>
            usada no aplicativo autenticador.
            Se você deseja alterar a chave, acesse
            <a asp-page="./ResetAuthenticator">resetar chave do autenticador</a>.
        </p>
    </div>

    <form method="post">
        <button class="btn btn-danger w-100" type="submit">
            Gerar novos códigos de recuperação
        </button>
    </form>

</div>
