@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmação de Alteração de E-mail";
    Layout = "_AuthLayout";
}

<div class="auth-container">
    <div class="auth-card text-center">

        <div class="auth-logo mb-3">
            <img src="~/img/logo.png" />
        </div>

        <h2 class="auth-title mb-3">Confirmação de Alteração de E-mail</h2>

        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <a href="~/" class="auth-btn mt-3">Voltar ao início</a>

    </div>
</div>
