@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Criar conta com login externo";
    Layout = "_AuthLayout";
}

<div class="auth-container">
    <div class="auth-card text-center">

        <div class="auth-logo mb-3">
            <img src="~/img/logo.png" />
        </div>

        <h2 class="auth-title mb-3">
            Vincular conta @Model.ProviderDisplayName
        </h2>

        <p class="text-info mb-3">
            Autenticação realizada com <strong>@Model.ProviderDisplayName</strong>.<br />
            Informe um e-mail para concluir seu cadastro.
        </p>

        <form asp-page-handler="Confirmation"
              asp-route-returnUrl="@Model.ReturnUrl"
              method="post">

            <div asp-validation-summary="ModelOnly" class="text-warning mb-2"></div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control auth-input" autocomplete="email" />
                <span asp-validation-for="Input.Email" class="text-warning"></span>
            </div>

            <button type="submit" class="auth-btn w-100">Finalizar cadastro</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
