@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "E-mail enviado";
    Layout = "_AuthLayout";
}

<div class="auth-container">
    <div class="auth-card text-center">

        <div class="auth-logo mb-3">
            <img src="~/img/logo.png" />
        </div>

        <h2 class="auth-title mb-3">Verifique seu E-mail</h2>

        <p class="text-info">
            Enviamos um link para redefinir sua senha.<br />
            Verifique sua caixa de entrada.
        </p>

        <a asp-page="./Login" class="auth-btn mt-3 w-100">
            Voltar ao login
        </a>

    </div>
</div>
