@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Entrar com Código de Recuperação";
    Layout = "_AuthLayout";
}

<div class="auth-container">
    <div class="auth-card text-center">

        <div class="auth-logo mb-3">
            <img src="~/img/logo.png" />
        </div>

        <h2 class="auth-title mb-3">Código de Recuperação</h2>

        <p class="text-info mb-3">
            Você está tentando entrar usando um código de recuperação.
            Este login não será lembrado até que você insira um código do app autenticador ou desative a 2FA.
        </p>

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-warning mb-2"></div>

            <div class="mb-3">
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <input asp-for="Input.RecoveryCode"
                       class="form-control auth-input"
                       autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-warning"></span>
            </div>

            <button type="submit" class="auth-btn w-100">Entrar</button>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
