@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar conta";
    Layout = "_AuthLayout";
}

<div class="auth-container">
    <div class="auth-card">

        <div class="auth-logo">
            <img src="~/img/logo.png" />
        </div>

        <h2 class="auth-title">Criar uma conta</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>

            <div class="mb-3">
                <label asp-for="Input.Nickname"></label>
                <input asp-for="Input.Nickname" class="form-control auth-input" />
                <span asp-validation-for="Input.Nickname" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control auth-input" />
                <span asp-validation-for="Input.Email" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control auth-input" />
                <span asp-validation-for="Input.Password" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control auth-input" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-warning"></span>
            </div>

            <button type="submit" class="auth-btn">Criar conta</button>

            <div class="auth-links mt-3">
                <a asp-page="./Login">Já possui uma conta?</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
