@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar Confirmação de E-mail";
    Layout = "_AuthLayout";
}

<div class="auth-container">
    <div class="auth-card text-center">

        <div class="auth-logo mb-3">
            <img src="~/img/logo.png" />
        </div>

        <h2 class="auth-title mb-3">Reenviar E-mail de Confirmação</h2>

        <p class="text-info mb-3">
            Informe seu e-mail para reenviar o link de confirmação.
        </p>

        <form method="post">

            <div asp-validation-summary="All" class="text-warning mb-2"></div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email"
                       class="form-control auth-input"
                       aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-warning"></span>
            </div>

            <button type="submit" class="auth-btn w-100">Reenviar</button>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
