.auth-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c0c0c;
}

.auth-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    width: 420px;
    border-radius: 14px;
    color: white;
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 215, 0, 0.25);
    animation: fadeIn .5s ease;
}

.auth-logo img {
    width: 80px;
    display: block;
    margin: 0 auto 10px;
    filter: drop-shadow(0 0 6px rgba(255, 215, 0, 0.5));
}

.auth-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
}

.auth-input {
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 215, 0, 0.25);
    color: white;
}

    .auth-input:focus {
        border-color: #ffd700 !important;
        box-shadow: 0 0 4px rgba(255, 215, 0, 0.4);
    }

.auth-btn {
    width: 100%;
    background: #ffd700;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}

    .auth-btn:hover {
        background: #ffe98f;
    }

.auth-links {
    text-align: center;
    margin-top: 15px;
}

    .auth-links a {
        color: #ffd700;
        display: block;
        margin-top: 5px;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
